@import "{{ site.theme }}";

body {
    background-color: #94c6f5;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }